
# Version Control related things
.git
.gitignore

# Unnecesary things for production environment. Formattings IDEs etc (These are meaningful only for developers)
Dockerfile
.dockerignore
README.md
.vscode
.eslintrc
.prettierrc 

# Dependicies (since we are using multistage)
node_modules
dist

# test folder is not used during image build
test

# Docker hub configs 
.Dockerrun*
